@font-face {
  font-family: 'cip';
  src: url('font');
}

body, html {
  margin: 0; padding: 0;
  color: #ffffff;
  font-family: cip;
  height: 100%;
}
html { background-color: #000000; overflow: hidden; }
body { transition: opacity 750ms linear; overflow: auto; }

span.quote::before { content: "“"; }
span.quote::after { content: "”"; }
span.larger { font-size: 110%; }

.page {
  position: relative;
  height: 100vh;
  font-size: 180%;
  text-shadow: black 0em 0em 0.3em, black 0em 0em 0.3em;
  transition: opacity 500ms linear;
  overflow: hidden;
  
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}
.page.active {
  opacity: 1;
  z-index: -2;
  pointer-events: all;
}
body.scrolling > .page { pointer-events: none !important; }
.page > .bg {
  position: fixed;
  left: 0; top: 0; width: 100vw; height: 100vh;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}
.page p { width: 80%; margin: 0 auto 0.5em; text-align: center; }

.page1 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.page1 > .bg {
  background-image: url('bg');
}
.page1 > .quote { width: 80%; max-width: 1000px; }
.page1 > .quote > .text {
  text-align: left;
}
.page1 > .quote > .cite {
  text-align: right;
  font-size: 84%;
  text-shadow: black 0em 0em 0.3em, black 0em 0em 0.3em;
  margin-top: 20px; margin-right: 30px;
}
.page1 > .mission {
  font-size: 220%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  box-sizing: border-box;
  margin: 0 20px;
  text-align: center;
  text-shadow: black 0em 0em 0.3em, black 0em 0em 0.3em;
  margin-bottom: 10%;
}

.page2 > .bg { background-color: #000000; }
.page2 > .torah {
  position: absolute;
  box-sizing: border-box; padding: 20px 0;
  width: 0%; height: 54%; left: 50%; top: 23%;
  background-image: url('torahTile');
  background-size: auto 100%;
  background-position: center;
  background-repeat: repeat-x;
  
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  
  font-size: 80%;
  transition: left 1000ms ease-in-out, padding 1000ms ease-in-out, width 1000ms ease-in-out;
}
.page2.active > .torah { padding: 20px; width: 50%; left: 25%; }
.page2 > .torah > .scroll {
  position: absolute;
  display: inline-block;
  height: 180%; top: -40%;
  z-index: 1;
  pointer-events: none;
}
.page2 > .torah > .scroll > img { position: relative; height: 100%; }
.page2 > .torah > .scrollL { left: 0; }
.page2 > .torah > .scrollL > img { left: -80%; }
.page2 > .torah > .scrollR { right: 0; }
.page2 > .torah > .scrollR > img { right: -80%; }
.page2 > .torah > .quote {
  font-size: 120%;
}
.page2 > .torah > .quote > .hebrew {
  font-size: 130%;
  margin-bottom: 10px;
}

/* Changing `transition` allows for a delay on fade-in, but no delay on fade-out */
.page2 > .torah > .content { opacity: 0; transition: opacity 500ms linear 0ms; }
.page2.active > .torah > .content { opacity: 1; transition: opacity 500ms linear 1000ms; }

.page3 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  min-height: 100vh;
}
.page3 > .bg { background-image: url('dafTalmud'); opacity: 0.4; }
.page3 > .content {
  padding: 30px;
  font-size: 90%;
}
.page3 > .content > .title { font-size: 120%; }

.page4 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.page4 > .bg { background-color: #000000; }
.gematria {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 20px;
  text-align: right;
}
.gematria > .sum {
  position: relative;
  padding: 12px;
  border-bottom: 3px solid #ffffff;
}
.gematria > .sum > .item {
  position: relative;
}
.gematria > .sum > .item::before {
  content: '+';
  position: absolute;
  height: 100px; line-height: 100px; margin-top: -50px;
  left: 0; top: 50%;
  font-size: 120%;
}
.gematria > .sum > .item:first-child::before { content: none; }
.gematria .item > .hebrew { display: inline-block; min-width: 2.5em; }
.gematria .item > .english { display: inline-block; min-width: 6.5em; }
.gematria .item > .number {
  display: inline-block;
  font-family: monospace;
  min-width: 2.5em;
}
.gematria > .result {
  padding: 12px;
}
.gematria > .result > .item {
  
}
