@font-face {
  font-family: 'cip';
  src: url('font');
}

body, html {
  position: absolute;
  left: 0; top: 0; width: 100%; height: 100%;
  overflow: hidden;
  margin: 0; padding: 0;
  color: #ffffff;
  font-family: cip;
}
html { background-color: #ffffff; }
body {
  background-image: url('bg2');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  transition: opacity 750ms linear;
}
body > .quote.main {
  width: 80%; left: 10%; top: 17%;
  font-size: 180%;
  box-sizing: border-box;
  padding: 10px;
  text-shadow: black 0em 0em 1em;
}
body > .quote.main > .text {
  text-align: left;
}
body > .quote.main > .cite {
  text-align: right;
  font-size: 84%;
  margin-top: 20px;
}
body > .mission {
  font-size: 350%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  margin: 0 20px;
  text-align: center;
  text-shadow: 0 0 9px #000;
  opacity: 0.67;
  margin-bottom: 10%;
}
